@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  /* задаем размер шрифта */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

/* указываем наследование*/
input::-ms-clear {
  display: none;
}

/*убираем крестек в инпуте ехплорера*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*убираем лишние отсупы в конпках мозилы*/
a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("/fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("/fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("/fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("/fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("/fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("/fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("/fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("/fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* oswald-regular - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/oswald-v31-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/fonts/oswald-v31-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/oswald-v31-latin_cyrillic-regular.woff2") format("woff2"), url("/fonts/oswald-v31-latin_cyrillic-regular.woff") format("woff"), url("/fonts/oswald-v31-latin_cyrillic-regular.ttf") format("truetype"), url("/fonts/oswald-v31-latin_cyrillic-regular.svg#Oswald") format("svg");
  /* Legacy iOS */
}

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/oswald-v31-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/fonts/oswald-v31-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("/fonts/oswald-v31-latin_cyrillic-500.woff2") format("woff2"), url("/fonts/oswald-v31-latin_cyrillic-500.woff") format("woff"), url("/fonts/oswald-v31-latin_cyrillic-500.ttf") format("truetype"), url("/fonts/oswald-v31-latin_cyrillic-500.svg#Oswald") format("svg");
  /* Legacy iOS */
}

/* oswald-600 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/oswald-v31-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/fonts/oswald-v31-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("/fonts/oswald-v31-latin_cyrillic-600.woff2") format("woff2"), url("/fonts/oswald-v31-latin_cyrillic-600.woff") format("woff"), url("/fonts/oswald-v31-latin_cyrillic-600.ttf") format("truetype"), url("/fonts/oswald-v31-latin_cyrillic-600.svg#Oswald") format("svg");
  /* Legacy iOS */
}

body {
  font-family: Roboto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.container {
  max-width: 1366px;
  margin: 0px auto;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 650px;
  background-position: center;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__logo {
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* Светлый */
  color: #FCFCFC;
}

.header_menu {
  min-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .menu__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0px 5px 0px 0px;
  /* Светлый */
  color: #FCFCFC;
}

.header .menu__link:nth-child(5) {
  margin-right: 0px;
}

.header__phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* Светлый */
  color: #FCFCFC;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__icon {
  margin: 0px 50px 0px 0px;
}

.header__icon:nth-child(2) {
  margin-right: 0px;
}

.header__title {
  padding: 105px 0px 0px 0px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 98px;
  line-height: 145px;
  /* Светлый */
  color: #FCFCFC;
  margin: 0px 0px 20px 0px;
}

.header__button {
  padding: 10px 30px 10px 30px;
  border: 1px solid #FCFCFC;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* Светлый */
  color: #FCFCFC;
}

.header__button:hover {
  color: #EC5118;
  border: 1px solid #EC5118;
}

.title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
  /* Темный */
  color: #061B28;
}

.body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* Темный */
  color: #061B28;
}

.content__row {
  margin: 140px 0px 00px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 509px;
}

.content__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 480px;
  height: 100%;
}

.content__body p {
  margin: 10px 0px 0px 0px;
  text-align: left;
}

.content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=style.css.map */